{% load static %}
<! DOCTYPE html>
<title>Resume</title>
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="{% static 'style.css' %}" rel='stylesheet'>
    <div class='header'>
        <p>Sakib Ali Sayyed</p>
        </div>
    <div class='link' style='color:white;text-indent: 92%;'><p><a href="interpreted">interpret</a></p></div>
</head>

<body>


<br><div style='font-family:Consolas' class='a'>
        <p ><i><span style="color:blue"><b><a href='' , data-bs-toggle="modal" data-bs-target="#staticBackdrop"> def </a></b></span><span style="color:white;"> __init__(self,<span style="color:orange">residence,edu,background</span>) :</span></i></p>
    </div>
<div class='b' >
    <p><span style="color:white;">self.</span>residence = residence </p>
    <p><span style="color:white;">self.</span>edu = education </p>
    <p><span style="color:white;">self.</span>background = background </p>
</div>


<br><div class='c'>
    <p><span style="color:blue;"><b>def</b></span><span style="color:white;">__repr__( self ):</span></p>
</div>
<div class='d'>
    <p><span style="color:white;">background = Model.objects.get(background = background)</span></p>
    <p><span style="color:purple;"> return </span><span style="color:white;">{ }.format(self.background)</span></p>
</div>


<div class='e'>
    <p>{ for <span style="color:white;"> i </span> in <span style="color:white;"> experiences </span> }</p>
</div>
<div class='f'>
    <p>&lt;div <span style="color:cyan">class=</span><span style="color:chocolate;">"conatainer mx-4 my-4"&gt;</span></p>
    <p><span style="color:white;">&lt;p&gt;<span style="color:chocolate;">{ experience } </span>&lt;/p&gt;</span></p>
    <p><span style="color:chocolate;;">&lt;br&gt;&lt;br&gt;&lt;br&gt;</span></p>
    <p><span style="color:white;">&lt;p&gt;<span style="color:chocolate;"> { orgnization }</span>&lt;/p&gt;</span></p>
    <p><span style="color:chocolate;;">&lt;br&gt;&lt;br&gt;&lt;br&gt;</span></p>
    <p><span style="color:white;">&lt;p&gt;<span style="color:chocolate;"><span style="color:white;"> Here's My
 </span>{{ profile }} </span>&lt;/p&gt;</span></p>
</div>

<div class='g'>
    <p><span style="color:purple"> from </span><span style="color:white;"> .</span><span style="color:purple"> import </span><span style="color:white;"> keyskills </span><p>
</div>
<div class='h'>
    <p><span style="color:white"> path [<span style="color:chocolate;">'/python'</span> views.python<span style="color:orange;"> name= </span>'python ]</span></p>
    <p><span style="color:white"> path [<span style="color:chocolate;">'/django'</span> views.django<span style="color:orange;"> name= </span>'django ]</span></p>
    <p><span style="color:white"> path [<span style="color:chocolate;">'/html'</span> views.html<span style="color:orange;"> name= </span>'html ]</span></p>
    <p><span style="color:white"> path [<span style="color:chocolate;">'/mysql'</span> views.mysql<span style="color:orange;"> name= </span>'mysql ]</span></p>
    <p><span style="color:white"> path [<span style="color:chocolate;">'/sqlite'</span> views.sqlite<span style="color:orange;"> name= </span>'sqlite ]</span></p>
</div>

<div class='i'>
    <p><span style="color:purple"> from <span style="color:white;"> projects</span> import <span style="color:white;"> Socialite </span></p>
    <p><span style="color:white">/// A social media website project ///</span></p>
    <p><span style="color:white">app_name = Socialite</span></p>
</div>

<div class='j'>
    <p><i><span style="color:blue"><b> def </b><span style="color:F0E68C;"> Sign_up</span><span style="color:cyan;">(request) :</span></span></p>
</div>
<div class='k'>
    <p><span style="color:white;"> user = request.POST.get('user')</span></p>
    <p><span style="color:white;"> user = User(user = user)</span></p>
    <p><span style="color:white;"> user.save()</span></p>
    <p><span style="color:purple;"> return </span><span style="color:white;;"> registered_user </span></p>
</div>

<div class='l'>
    <p><i><span style="color:blue"><b> def </b><span style="color:F0E68C;"> like_post</span><span style="color:cyan;">(request,id) :</span></span></p>
</div>
<div class='m'>
    <p><span style="color:white;"> user = request.user</span></p>
    <p><span style="color:white;"> post = Model.objects.get(pk = id)</span></p>
    <p><span style="color:white;"> Like.like(post,user)</span></p>
    <p><span style="color:purple;"> return </span><span style="color:white;;"> liked_post </span></p>
</div>


<div class='n'>
<p><span style="color:purple"> from <span style="color:white;"> projects</span> import </span><span style="color:white;"> Elibrary </span></p>
<p><span style="color:blue"> Class <span style="color:cyan;">Reader_type (Models.Model): </span></span></p>
</div>

<div class='o'>
    <p><span style="color:white;"> user_type = models.CharField(<span style="color:cyan;"> default </span> = 'Reader')</span></p>
</div>

<div class='p'>
    <p><i><span style="color:blue"><b> def </b><span style="color:F0E68C;"> addbook</span><span style="color:cyan;">(request) :</span></span></p>
</div>
<div class='r'>
    <p style="color:purple" >try</span><span style="color:white;"> :</span></p>
</div>

<div class='s'>
    <p><span style="color:white;">pdf = request.FILES('file')</span></p>
    <p><span style="color:purple;"> return </span><span style="color:white;;"> redirect ("/")</span></p>
</div>
<div class='r'>
    <p style="color:purple" >except  <span style="color:white;"> Exception </span> as </span><span style="color:white;"> e :</span></p>
</div>


<div class='t'>
<p><i><span style="color:blue"><b> def </b><span style="color:F0E68C;"> readbook</span><span style="color:cyan;">(request) :</span></span></p>
</div>
<div class='u'>
    <p><span style="color:blue"> if </span><span style="color:white;"> request.user.is_authenticated :</span></p>
    <p><span style="color:white;">Books = Book.bojects.all()</span></p>
    <p><span style="color:white;">data = {'Books': Books }</span></p>
    <p><span style="color:purple;">return </span><span style="color:white;"> render (request,'book.html'context='data')</span>
</p>
</div>




</body>
</html>